


 #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  
body {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);

}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #333;
	height: 570px;
	width: 570px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container .poke-battle {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0%;
	
	
}

h3 {
	display: flex;
	flex-direction: column;
	color:  red;
	opacity: 0.5;
}

/* .container-2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #333;
	height: 500.44px;
	width: 500.44px;
	position: fixed;
	top: 50%;
	right: 35%;
	transform: translate(-50%, -50%);
	
} */

 .pokemon  {
  	display: flex;
  	align-items: center;
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
	height: 360px;
	
}
.card {
	height: 350px;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
  width: 120px;
}

.pokemon .name {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .health {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

.poke-trainer-1 {
  justify-content: left;
  margin-left: auto; 
  margin-right: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 540px;
  /* height: 750px; */
  float:  left;
 
}


.poke-trainer-2 {  
  justify-content: right; 
  margin-left: 0; 
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 540px;
  /* height: 800px; */
  float: right;
  
}


/* .card{
   transform: scale(1.05);
   

} */

/* :hover */
/* box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */