#main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #poke-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
         
  }
  
  ul {
    list-style: none;
  }